@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');


.content {
  max-width: 717px;
  min-width: 375px;
  margin: auto;
}

.title {
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  font-size: 28px;
}

/* Style the tab */
.avg_tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  justify-content: center;
  display: flex;
}

/* Style the buttons inside the tab */
.avg_tab button {
  background-color: inherit;
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  width: 24%;
  transition: 0.3s;
  font-size: calc(12px + (18 - 12) * ((max(min(100vw, 717px), 375px) - 375px) / (717 - 375)));
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

/* Change background color of buttons on hover */
.avg_tab button:hover {
  background-color: #ddd;
  font-weight: bold;
}

/* Create an active/current tablink class */
.avg_tab button.active {
  background-color: #ccc;
  font-weight: bold;
}

.aqi-display {
  text-align: center;
}

.loading {
  background-color: grey;
  color: white;
}

.aqi-green {
  background-color: #82E0AA;
  color: black;
}

.aqi-yellow {
  background-color: #FCF3CF;
  color: black;
}

.aqi-orange {
  background-color: #F8C471;
  color: black;
}

.aqi-red {
  background-color: #F5B7B1;
  -webkit-text-fill-color: #F0F0F0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.aqi-purple {
  background-color: #8E44AD;
  -webkit-text-fill-color: #F0F0F0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.aqi-maroon {
  background-color: #800000;
  -webkit-text-fill-color: #F0F0F0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.aqi-value {
  font-family: 'Bowlby One SC', sans-serif;
  font-size: calc(100px + (160 - 100) * ((max(min(100vw, 717px), 375px) - 375px) / (717 - 375)));
  font-weight: 150;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 0px;
  margin-top: 24px;
  padding-top: 16px;
  padding-bottom: 12px;
}

.sensor-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: rgba(110, 110, 110, 1);
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 8px;
}

.environment {
  width: 100%;
  text-align: center;
}

.environment .value-display {
  width: 23%;
  display: inline-block;
  vertical-align: top;
  border: 1px solid LightGray;
  text-align: center;
  margin-top: 4%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  padding: 8px;
}

.environment .value-display .item-title {
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  font-size: calc(12px + (16 - 12) * ((max(min(100vw, 717px), 375px) - 375px) / (717 - 375)));
  color: #B8B8B8;
}

.environment .value-display .item-value {
  font-family: 'Bowlby One SC', sans-serif;
  font-size: calc(12px + (26 - 12) * ((max(min(100vw, 717px), 375px) - 375px) / (717 - 375)));
  text-align: center;
}

.environment .value-display .item-units {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: calc(10px + (22 - 10) * ((max(min(100vw, 717px), 375px) - 375px) / (717 - 375)));
  text-align: center;
}

.navigation {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}

.navigation .nav_item {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 12px;
}

.navigation .nav_item a {
  color: rgba(110, 110, 110, 1);
}

/* CSS specific to configurtion page */

.config-frame {
  margin: 20px 0;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid black;
  box-sizing:border-box;
}

.config-frame .section-title {
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  font-size: 20px;
  margin-bottom: 14px;
}
.config-frame .form-item {
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: #e1f8ff;
}

.config-frame .form-item .flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.config-frame .form-item .item-label {
  width: 290px;
  vertical-align: middle;
}

.config-frame .form-item .input-box {
  width: 50%;
}

.config-frame .form-item input[type=text], input[type=password] {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  padding: 8px;
  font-size: 14pt;
  font-weight: normal;
  border: 1px solid #383838;
  border-radius: 4px;
}

.submit-button {
  text-align: center;

}

.submit-button input[type=submit] {
	width: 90%;
	padding-top: 8px;
	padding-bottom: 8px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 1.15;
	margin: 0;
	border: 2px solid #008CBA;
	border-radius: 4px;
	background-color: #008CBA;
	color: white;
}

.config-frame .submit-button input[type=submit]:hover {
	background-color: white;
	color: black;
}

.config-frame input[type=number] {
  width: 80px;
  height: 24px;
  padding: 8px;
  font-size: 14pt;
  border: 1px solid #383838;
  border-radius: 4px;
  z-index: 1;
}


.config-frame select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  font-size: 12pt;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.config-frame select {
  background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: black;
}

.config-frame select:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}


/* custom slider */

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

